{% extends 'base.html' %}
{% block title %} Signup {% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
<br>

<div class="signup-form" style="margin-left: 30vw; margin-right: 30vw; ">
    <!--sign up form-->
    <h2>Login Hare</h2>
    {% if error%}
    {{error}}
    {% endif %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token%}
        <input type="text" placeholder="Username" name="username" />
        <input type="password" placeholder="Password" name="password" />
        <button type="submit" class="btn btn-default">Login</button>
        <a href="#">Forget password?</a>
    </form>
</div>


<!--/sign up form-->


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}